.app {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  grid-template-columns: 250px 2fr;
  grid-template-rows: auto 2fr;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #524e4e;
  color: #fff;
  width: 300px;
}

.content {
  grid-area: content;
  margin-top: 0;
  margin-left: 0;
  padding: 20px;
  /* color: black;
  background-color: #fff; */
}
